.row {
	display: flex;
	padding-left: 16px;
	padding-right: 16px;
	height: auto;
}

[class*=col-] {
	/*min-height: 1px;*/
	margin-left: 8px;
	margin-right: 8px;
	height: auto;
	/*position: relative;*/
}

.row > [class*=col-]:first-child:not([class*=offset-]) {
	margin-left: 0;
}

.row > [class*=col-]:last-child:not([class*=offset-]) {
	margin-right: 0;
}

.col-1 {
	width: calc(8.3333333% - 16px);
}

.col-2 {
	width: calc(16.66666667% - 16px);
}

.col-3 {
	width: calc(25% - 16px);
}

.col-4 {
	width: calc(33.3333333% - 16px);
}

.col-5 {
	width: calc(41.66666667% - 16px);
}

.col-6 {
	width: calc(50% - 16px);
}

.col-7 {
	width: calc(58.33333333% - 16px);
}

.col-8 {
	width: calc(66.66666667% - 16px);
}

.col-9 {
	width: calc(75% - 16px);
}

.col-10 {
	width: calc(83.33333333% - 16px);
}

.col-11 {
	width: calc(91.66666667% - 16px);
}

.col-12 {
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}

.offset-1 {
	margin-left: calc(8.3333333% + 8px);
}

.offset-2 {
	margin-left: calc(16.66666667% + 8px);
}

.offset-3 {
	margin-left: calc(25% + 8px);
}

.offset-4 {
	margin-left: calc(33.3333333% + 8px);
}

.offset-5 {
	margin-left: calc(41.66666667% + 8px);
}

.offset-6 {
	margin-left: calc(50% + 8px);
}

.offset-7 {
	margin-left: calc(58.33333333% + 8px);
}

.offset-8 {
	margin-left: calc(66.66666667% + 8px);
}

.offset-9 {
	margin-left: calc(75% + 8px);
}

.offset-10 {
	margin-left: calc(83.33333333% + 8px);
}

.offset-11 {
	margin-left: calc(91.66666667% + 8px);
}


.reset-row-right-gutter {
	padding-right: 0 !important;
}

.reset-row-left-gutter {
	padding-left: 0 !important;
}

.reset-column-gutter {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.reset-column-right-gutter {
	margin-right: 0 !important;
}